@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-size: 62.5%;
    user-select: none;
    scroll-behavior: smooth;
  }

  body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  .font-body {
    font-family: var(--font-body);
    @apply tracking-wide
  }

  .font-display {
    font-family: var(--font-display);
    font-variation-settings: 'WONK' 0, 'SOFT' 50, 'opsz' 1;
    @apply tracking-normal
  }

  .font-hindi {
    font-family: var(--font-hindi);
    @apply tracking-normal
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}